   ---- FreeCodeCamp Basejump: File Metadata Microservice by John Neill ----
   <p> Upload a file to view its filesize!</p>
<form action="/wutSize" method="POST" enctype="multipart/form-data">
    <label> What images would you like to search for? </label>
    <input type="file" name="file">
    <input type="submit">
</form>



